<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terabits.dao.mapper.AlarmMapper">

    <!-- 自定义返回结果集 -->

    <resultMap id="alarmMap" type="com.terabits.meta.po.AlarmPO">
        <id property="id" column="id" javaType="java.lang.Integer"></id>
        <result property="terminalImei" column="terminal_imei" javaType="java.lang.String"></result>
        <result property="building" column="building" javaType="java.lang.String"></result>
        <result property="room" column="room"  javaType="java.lang.String"></result>
        <result property="alarmType" column="alarm_type" javaType="java.lang.String"></result>
        <result property="alarmInfo" column="alarm_info" javaType="java.lang.String"></result>
        <result property="gmtCreate" column="gmt_create" javaType="java.lang.String"></result>
        <result property="gmtModified" column="gmt_modified" javaType="java.lang.String"></result>
    </resultMap>
    <!-- 在各种标签中的id属性必须和接口中的方法名相同 ， id属性值必须是唯一的，不能够重复使用。parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型-->
    <!-- useGeneratedKeys：（ 仅 对 insert 有 用 ） 这 会 告 诉 MyBatis 使 用 JDBC 的getGeneratedKeys
                方法来取出由数据（比如：像 MySQL 和 SQLServer 这样的数据库管理系统的自动递增字段）内部生成的主键。默认值： false。 -->
    <!--keyProperty： （仅对 insert有用）标记一个属性， MyBatis 会通过 getGeneratedKeys或者通过 insert 语句的 selectKey 子元素设置它的值。默认：不设置。 -->
    <!--#{}中的内容，为占位符，当参数为某个JavaBean时，表示放置该Bean对象的属性值  -->

    <insert id="insertAlarm" keyProperty="id">
        insert into alarm (terminal_imei, building, room, alarm_type, alarm_info, gmt_create, gmt_modified)
        values (#{terminalImei}, #{building}, #{room}, #{alarmType}, #{alarmInfo}, now(), now())
    </insert>

    <delete id="deleteAlarmByRoom" parameterType="String">
        delete from alarm where building = #{building} and room = #{room}
    </delete>

    <delete id="deleteAlarmByTime" parameterType="com.terabits.meta.bo.TimeSpanBO">
        delete from alarm
        <where>
            <if test="beginTime!=null and beginTime!=''">
                and gmt_create >= #{beginTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                and gmt_create &lt; #{endTime}
            </if>
        </where>
    </delete>

    <select id="selectAlarmByTime" parameterType="com.terabits.meta.bo.TimeSpanBO" resultMap="alarmMap">
        select * from alarm
        <where>
            <if test="beginTime!=null and beginTime!=''">
                and gmt_create >= #{beginTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                and gmt_create &lt; #{endTime}
            </if>
        </where>
    </select>

    <select id="selectAllAlarm" resultMap="alarmMap">
        select * from alarm
    </select>

    <select id="selectSumAlarm" parameterType="String" resultType="java.lang.Integer">
        select count (distinct alarm_info) as sumAlarm from alarm where gmt_create >= #{time}
    </select>

</mapper>